################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/DesafioCristiano/bin
/DesafioCristiano/obj
.suo
